{:kotoba.app/id "cloud.itonami.kaisya", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigbghljrnimhethsoh3swwzcahifbmwgozxydvpvvhts2jouuu7mu", :kotoba.app/embed-url "ipfs://bafkreigbghljrnimhethsoh3swwzcahifbmwgozxydvpvvhts2jouuu7mu", :published {:archive "https://kotobase.net/ipfs/bafkreigbghljrnimhethsoh3swwzcahifbmwgozxydvpvvhts2jouuu7mu", :size 67810, :put-status 201, :get-status 200, :at "2026-08-15T13:49:08.246Z"}}
